#global-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1px;
    overflow-x: hidden; 
    overflow-y: scroll;
}

.bg { 
    background: url(../images/tattooing.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; 
    transform: translateZ(-5px) scale(6.1);
    overflow: hidden;
    z-index: -999;
}

.bg-color-filter {
    background-color: rgba(255,255,255,0.25);
    width: 100%;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    // z-index: 99;
    transform: translateZ(-3px) scale(4.1);
    overflow: hidden;
    z-index: -999;
}

.bg-color-filter-2 {
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    // z-index: 99;
    transform: translateZ(-3px) scale(4.1);
    overflow: hidden;
    z-index: -999;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $black;
    overflow-x: hidden; 
}

// NAVICON -----------------------
#navicon {
    top: 30px;
    right: 20px;
    position: fixed;
    width: 30px;
    height: 25px;
    z-index: 999999;
    // margin: 50px auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    // overflow: hidden;
    opacity: 1;
    span {
        display: block;
        background: white;
        width: 85%;
        height: 3px;
        position: absolute;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        left: 0;
    }   
}

#navicon span:nth-child(1) {
  top: 0px;
}

#navicon span:nth-child(2),#navicon span:nth-child(3) {
  top: 8px;
}

#navicon span:nth-child(4) {
  top: 16px;
}

#navicon.open span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#navicon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navicon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navicon.open span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

// NAVICON END --------------------------
.menu {
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99999;
    ul {
        position: relative;
        top: 47%;
        transform: translateY(-50%);
        z-index: 900;
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0 25px;
        li {
            display: block;
            margin: 10px 10px;
            // display: none;
            a {
                text-decoration: none;
                color: transparent;
                font-size: 40px;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
            }
            // a:link, a:visited {
            //     color: transparent;
            // }
            // a:hover {
            //     clear: both;
            // }    
        } 
    }
}

.menu.open {
    background: rgba(0, 0, 0, 0.8);
    display: block;
    z-index: 99999;
    li {
        display: block;
        a {
            color: $white;
            transition: all 0.3s ease-in-out;
        }
    }           
}

// DESKTOP NAV ----------------------------
nav {
    position: relative;
    // margin-bottom: 250px;
    text-decoration: none;
    color: $white;
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        li {
            display: inline;
            a {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px; 
                text-decoration: none;
                margin: 0 6px;
                font-size: 10px;
                // color: transparent;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: $pink;
                    text-decoration: none;    
                }
            }   
        }
    }
}

nav.main-nav {
    display: none;
}

.landing {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    font-family: "Lobster", sans-serif;
    position: absolute;
    text-align: center;
    background: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transform: translateZ(-5px) scale(6.1) translateX(-8%) translateY(38%);
    h1, h2 {
        color: $white;
    }
    h1 {
        font-size: 65px;
        margin: 0 auto;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 4px;
        word-spacing: 4px;
        margin: 0 auto;
    }
}

.scroll-icon {
    position: relative;
    bottom: -360px; 
    z-index: 999;
    // img { 
    // z-index: 9999;  
    //     transition: all 0.3s ease-in-out;
    //     cursor: pointer;
    // }
    // img:hover {
    //     opacity: .5;
    // }
}

.divider-line {
    text-align: center;
    width: 100%;
    background-color: white;
}

h2.section-title {
    font-weight: 800;
    margin: 80px 0 60px;
    font-size: 45px;
    text-transform: uppercase;
}

section {
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    width: 100%;
    text-align: center;
}

.section {
    display: block;
    background-color: white;
    overflow: hidden;
    z-index: 9999999;
    transform: translateZ(0px) scale(1);
    padding-bottom: 100px;
    img {
        width: 100%;
        padding: 0 25px;
    }
}

#artists {
    h3 {
        font-family: 'Pattaya', sans-serif;
        font-size: 30px;
        // text-transform: uppercase;
    }
}

// .image-wrapper {
//     display: inline;
//     // float: left;
//     width: 40%;
//     transform: translateX(41%);
// }


.section-content {
    h3, p {
        text-align: left;
    }
    h3 {
        text-transform: uppercase;
        font-size: 20px;
        margin: 0;
        padding: 20px 0 10px;
        // font-family: 'Pattaya', sans-serif;
    }
    p {
        padding: 0 0 30px 0px;
    }
}

#news {
    position: relative;
    width: 100%;
    margin-top: -1px;
}

#merch {
    margin-top: -1px;
    position: relative;
    width: 100%;
    h3 {
        font-family: 'Pattaya', sans-serif;
        font-size: 22px;
        margin: 20px 0;
        // text-transform: uppercase;
    }
    // img {
    //     width: 100%;
    //     padding: 0 15px;
    // }
    h4 {
        color: $pink;
    }
    p {
        font-size: 16px;
        margin: 0 10px 100px;

    }
    .no-bottom-margin {
        margin-bottom: 0;
    }
}

p {
    font-family: 'Poiret One', sans-serif;
    color: $black;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 18px;
}

h3 {
    margin: 20px 0 60px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

#faq {
    margin-top: -1px;
    p {
        text-align: left;
    }
    .question {
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    .answer {
        padding: 0 0 40px 0;
        // position: relative;
        // left: 20px;
    }
}

#contact {
    .col-sm-6 {
        padding: 0;
    } 
    iframe {
        max-width: 100%; 
        height: 200px;
    }
    .contact-content {
        // padding-left: 40px;
    }
    h3 {
        padding-top: 0px;
        text-align: left;
        text-transform: uppercase;
        font-size: 16px;
        margin: 30px 0 10px;
    }
    p {
        font-size: 16px;
        text-align: left;
        padding: 0;
        // font-size: 16px;
    }
    .location {
        padding: 0px 0 0px;
    }
    .hours {
        padding: 0 0 0px;
    }
}

.icon-down {
    cursor: pointer;
    transform: translateY(0%);
    width: 40px;
    height: 40px;
    fill: white;
    transition: all 0.3s ease-in-out;
}

.icon {
    margin: 20px 3px;
    cursor: pointer;
    transform: translateY(150%);
    width: 30px;
    height: 30px;
    fill: $white;
    transition: all 0.3s ease-in-out;
    &:hover {
        fill: $pink;
        overflow: hidden;
    }
}

.footer {
    height: 350px;
    background-color: $black;
    .svg-icons {
        a {
            text-decoration: none;
        }
    }
    .footer-logo {
        position: relative;
        top: 20%;
        h2 {
            font-family: 'Lobster' ,sans-serif;
            font-size: 70px;
            color: $white;
            margin: 0;
        }
        h3 {
            color: $white;
            text-transform: uppercase;
            font-size: 12px;
            margin: 0px 0 5px;
            letter-spacing: 4px;
        }
    }
    p {
        color: $white;
        position: relative;
        top: 55%;
        font-size: 11px;
        word-spacing: 0px;
    }
}

